@sections: 4;

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    -webkit-overflow-scrolling: auto;
}

h1 {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 22px;
}

.js-touch-handler {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.o-wrapper {
    position: absolute;
    height: (100% * @sections);
    width: 100%;
    z-index: 0;
    // transition: 0.5s ease-in-out;
}

.o-section {
    height: (100% / @sections);
    width: 100%;
}

    .o-section--one {
        .o-section;
        background: #AAA;
    }

    .o-section--two {
        .o-section;
        background: #CCC;
    }

    .o-section--three {
        .o-section;
        background: #888;
    }

    .o-section--four {
        .o-section;
        background: #555;
    }
