@sections: 4;

* {
    margin: 0;
    padding: 0;
    line-height: 1;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Tinos, serif;
    font-size: 16px;
}

h1 {
    text-align: center;

    font-family: Qwigley, cursive;
    font-size: 48px;
    font-weight: normal;


    .o-main {
        font-family: Almendra, serif;
        font-size: 48px;
        font-weight: 700;
    }

    .o-minor {
        font-family: Almendra, serif;
        font-size: 32px;
        font-weight: 700;
    }

    .o-script {
        font-family: Qwigley, cursive;
        font-size: 44px;
        font-weight: normal;
    }
}

.o-wrapper {
    position: absolute;
    height: (100% * @sections);
    width: 100%;
    z-index: 0;
}

.c-section {
    height: (100% / @sections);
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

    .c-section__wrapper {
        text-align: center;
        background: rgba(255, 250, 235, 0.75);
        padding: 35px 20px;
        width: 100%;
        box-sizing: border-box;

        h1 {
            margin-bottom: 10px;
        }

        .o-text {
            p {
                line-height: 1.3;
                margin-bottom: 10px;
            }
        }

            .o-text__link {
                text-decoration: none;
                color: #555;
            }
    }

    .c-section--flex {
        .c-section;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c-section--one {
        @media screen and (orientation:portrait) {
            .c-section;
        }

        @media screen and (orientation:landscape) {
            .c-section--flex;
        }

        background: url('./img/backgrounds/airship.jpg');
        background-position: 0 0;
        background-size: cover;

        h1 {
            color: #222;
            position: relative;
            top: ~"calc(100% - 240px)";
            @media screen and (orientation:landscape) {
                top: 0;
            }

            width: 100%;
            text-shadow: 0 0 40px rgb(255, 250, 235);
        }
    }

    .c-section--two {
        .c-section--flex;

        background: url('./img/backgrounds/pen.jpg');
        background-position: 0;
        background-size: cover;
    }

    .c-section--three {
        @media screen and (orientation:portrait) {
            .c-section--flex;
            flex-direction: column;
        }
        @media screen and (orientation:landscape) {
            .c-section--flex;
        }


        background: rgb(255, 250, 235);

        .o-title {
            padding-bottom: 30px;
            @media screen and (orientation:landscape) {
                padding-right: 20px;
            }
        }

        .o-images {
            text-align: center;

            @media screen and (orientation:portrait) {
                img {
                    box-sizing: border-box;
                    width: 46%;
                    margin: 0.5%;
                }
            }

            @media screen and (orientation:landscape) {
                img {
                    box-sizing: border-box;
                    width: 30%;
                    margin: 0.5%;
                }
            }

        }
    }

    .c-section--four {
        .c-section--flex;

        background: url('./img/backgrounds/office.jpg');
        background-position: center;
        background-size: cover;

        .c-section__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (orientation:portrait) {
                flex-direction: column;
            }

            @media screen and (orientation:landscape) {
                padding:15px;
            }

        }

        .o-title {
            width: 100%;

            .o-email {
                text-decoration: none;
                display: block;
                padding: 10px;
                padding-bottom: 25px;
                color: #333;
                font-size: 22px;
            }
        }

        .o-text {
            width: 100%;

            .o-btn {
                display: block;
                margin: 10px auto;
                padding: 20px;
                width: 70%;
                background: #876;
                color: #FFF;
                text-decoration: none;
            }
        }
    }
