body {
    background: #DBDBDB;
    background-image: url(img/ecailles.png);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    color: #333;
    margin-bottom: 100px;
}

.u-clearfix {
    zoom: 1;

    &:before,&:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}


.o-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.28);
    margin-top: 30px;
}

.c-topbar {
    background: #444;
}

    .c-topbar__inner {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 15px 0;
        text-align: center;

        a {
            margin: 0 40px;
            text-decoration: none;
            color: #EEE;
            padding: 8px 15px;

            &:hover {
                background: #555;
            }
        }
    }

.c-hero {
    position: relative;
    overflow: hidden;
    height: 700px;

    img {
        width: 1400px;
    }
}

    .c-hero__block {
        position: absolute;
        width: 475px;
        text-align: left;
        left: 125px;
    }

    .c-hero__title {
        .c-hero__block;
        top: 294px;
        font-size: 44px;
        font-weight: bold;
    }

    .c-hero__subtitle {
        .c-hero__block;
        top: 347px;
        font-size: 24px;
    }

    .c-hero__links {
        position: absolute;
        width: 700px;
        text-align: right;
        top: 40px;
        right: 125px;

        a {
            font-size: 18px;
            display: inline-block;
            margin-left: 15px;
            color: #555;
            text-decoration: none;
            padding: 10px 20px;

            &:hover {
                background: #BBB;
            }
        }
    }

.c-about {
    overflow: hidden;
    min-height: 600px;
    position: relative;

    img {
        position: absolute;
        width: 1400px;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

    .c-about__links {
        padding-top: 30px;

        a {
            padding: 7px 12px;
            background: #E0E0E0;
            margin-right: 10px;
            text-decoration: none;
            cursor: pointer;
            color: #333;

            &:hover {
                background: #CCC;
            }
        }
    }


.c-content {
    box-sizing: border-box;
    padding: 25px 75px 75px 75px;

    &.o-overlay {
        position: relative;
        z-index: 5;
    }
}

    .c-content__header {
        text-align: center;
        font-size: 28px;
        padding: 75px;
    }

.c-content--alternative {
    .c-content;
    background: #EEE;
}

.c-content--footer {
    padding: 50px;
    background: #444;
    text-align: center;

    a {
        font-size: 28px;
        text-decoration: none;
        color: #FFF;
    }
}

.o-grid {
}

    .o-grid__item {
        box-sizing: border-box;
        width: 250px;
        float: left;
        margin-left: 50px;
        margin-bottom: 50px;

        img {
            width: 100%;
        }
    }

.o-section-contents {
    font-size: 16px;
    min-width: 500px;
    width: 60%;
    color: #666;
    line-height: 1.5;
    margin: 0 auto;
}

.o-job {
    margin-bottom: 50px;
}

   .o-job__title {
        font-weight: bold;
        margin-bottom: 7px;
    }

    .o-job__company {
        margin-bottom: 16px;
    }

    .o-job__desc {
        color: #666;
        line-height: 1.5;
    }

.c-separator {
    height: 2px;
    background: #CCC;
    overflow:hidden;
}

.o-note {
    padding-bottom: 30px;
}

    .o-note__title {
        font-weight: bold;
        padding-bottom: 30px;
    }

    .o-note__desc {
        font-style: italic;
        line-height: 1.5;
        padding-bottom: 30px;
    }

    .o-note__counted {
        margin-bottom: 15px;
    }

        .o-note__counted__num {
            float: left;
            width: 35px;
            text-align: center;
            box-sizing: border-box;
            padding: 10px;
            background: #EEE;
            font-size: 12px;
            font-weight: bold;
            color: #444;
        }

        .o-note__counted__text {
            margin-top:10px;
            float: left;
            width: ~"calc(100% - 70px)";
            margin-left: 20px;

            a {
                color: #555;
            }
        }
