@media only screen and (max-width: 965px) {

    html, body {
        font-size: 12px;
    }

    body {
        margin-bottom: 5%;
        background: none;
    }

    .o-container {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }

    .c-topbar {
        background: #AAA;
        border-bottom: none;
        a {
            margin: 0;
        }
    }

        .c-topbar__inner {
            padding: 11px 0;
        }

    .c-content {
        padding: 30px;
    }

        .c-content__header {
            padding: 0;
            padding-top: 15px;
            padding-bottom: 30px;
            font-size: 1.4em;
        }

    .c-hero {
        height: 60vw;
        min-height: 250px;
        img {
            position: absolute;
            left: -85px;
            height: 60vw;
            min-height: 250px;
            width: auto;
        }
        border-bottom: 5px solid #D3D3D3;
    }

        .c-hero__title {
            font-size: 5vw;
            left: 8vw;
            top: 21vw;
        }

        .c-hero__subtitle {
            font-size: 2.5vw;
            left: 8vw;
            top: 27vw;
            width: 30vw;
        }

    .c-about {
        height: 400px;

        img {
            height: 400px;
            width: auto;
            left: ~"calc((940px - 100%) / -2)";
        }

    }

        .c-about__links {
            padding-top: 25px;
            font-size: 0.75em !important;
        }

    .o-grid__item {
        margin-left: 0;
        width: 100%;
        margin-bottom: 5%;
    }

    .o-section-contents {
        width: 100%;
        min-width: initial;
        font-size: 1em;
    }

}

